<%
var title = 'Portfolio'
%>

<%- include('/partials/p5-canvas') -%>

<div class="contents">
  <%- include('/partials/header', { title }) -%>

  <%- include('/partials/menu') -%>

  

  <section id="barba-wrapper" aria-live="polite">
    <div class="barba-container">
        <div id="top__title">
            <img src="<%= mix('/assets/images/title.png')%>"/>
        </div>
    </div>
  </section>

  <%- include('/partials/footer') -%>
</div>


