<%
var title = 'Portfolio';
var pageData = {
    work_title : 'ATSUMARU',
    category : 'simulation art',
    top_image_type : 'iframe',
    top_image : '<iframe width="560" height="315" src="https://www.youtube.com/embed/3qkwl0qwn7g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
    role : 'solo',
    term : '2 month',
    skills : 'Processing',
    outline : '「集まる」がテーマの実習制作で、木を連想させる枝分かれと養分の吸収を表現したシミュレーションアートを制作しました。画面中心から徐々に枝が広がっていく様子、養分が枝を伝って中心に集まっていく様子の二つを同時に表現しています。',
    sub_image_path : ['ATSUMARU_01.png','ATSUMARU_02.png','ATSUMARU_03.png','ATSUMARU_04.png'],
    sub_image_num:4,
    work_PR_text : '大学2年の終わりに制作し、これまでの制作より一層複雑なアルゴリズム構築への挑戦となりました。ただ近くの点に枝を伸ばしていくのではなく、植物のモチーフを表現するため、中心からの角度を制限するなどして工夫をしています。また、養分が枝を伝う動きを表現するため、移動の仕方にも工夫を取り入れています。<br>さらに発展した内容として、集まる地点が中心だけでなく途中で増えたり減ったりする仕組みを実装しています。中心地が増えると総当たりのルート探索により目的地を再設定し、ただ一方向に集まるだけでなくそれぞれの養分が様々な地点を目指します。このような目的地の再設定により、まるで生き物のような養分たちの動きを表現しました。',
    previous_work_path : './triSketch.html',
    next_work_path : './brouch.html',
    have_previous : true,
    have_next: true

}

%>

<%- include('/partials/header', { title }) -%>

<%- include('/partials/menu') -%>

<%- include('/partials/p5-canvas') -%>

<section id="barba-wrapper" aria-live="polite">
    <div class="barba-container">

        <%- include('/partials/back-button') -%> 

        <%- include('/partials/work-details-common',{data:pageData})  -%> 
        
        
        <%- include('/partials/scroll-top') -%>
    </div>
</section>

<%- include('/partials/footer') -%>