<%
var title = 'Portfolio'

var pageData = {
    work_title : 'eclipse',
    category : 'music',
    top_image_type : 'iframe',
    top_image : '<iframe width="560" height="315" src="https://www.youtube.com/embed/m_Rc--zjbwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
    role : 'solo',
    term : '1 month',
    skills : 'DTM / Processing / Adobe After Effects',
    outline : '大学で毎年行われる「卓展」という展示イベントに向けて、3年次に制作した音楽作品です。私が好きなArtcoreと呼ばれるジャンルのゲーム音楽を制作しました。<br>',
    sub_image_path : ['eclipse_01.png','eclipse_02.png'],
    sub_image_num:2,
    work_PR_text : '卓展に映像付きの音楽作品を展示したのは3回目で、今回はあまり映像に力を入れることができませんでしたが、楽曲自体は今までの中でも一番気に入っています。<br>今までの音楽制作が好きな要素の詰め合わせで聴きづらかったこともあり、それを反省して今回は曲のコンセプトやジャンルを明確にし、まとまりを意識しました。自分が好きな既存の曲から構成や技法を参考することはもちろん、全体の流れに抑揚を付けつつも統一感のある曲を目指し、世界観を持って制作しました。<br>今回はArtcoreということで、ピアノをメインの音色とし、スピード感があり美しくも儚い印象の楽曲を表現しました。',
    previous_work_path : './nomnomSketch.html',
    next_work_path : './gemini.html',
    have_previous : true,
    have_next: true
}
%>

<%- include('/partials/header', { title }) -%>

<%- include('/partials/menu') -%>

<%- include('/partials/p5-canvas') -%>

<section id="barba-wrapper" aria-live="polite">
    <div class="barba-container">

        <%- include('/partials/back-button') -%> 

        <%- include('/partials/work-details-common',{data:pageData})  -%>

        <%- include('/partials/scroll-top') -%> 
    </div>
</section>

<%- include('/partials/footer') -%>