<%
var title = 'Portfolio'

var pageData = {
    work_title : 'Gemeni',
    category : 'game',
    top_image_type : 'img',
    top_image : '/assets/images/Gemini_04.png',
    role : 'solo',
    term : '1 week',
    skills : 'Unity / Adobe illustrator',
    outline : '1人プレイ専用のPCゲームです。左右2つのブロックをキーボードで両手それぞれ別々に操作し、飛んでくる障害物を避けます。左右両方のブロックを意識し操作するという難しさを味わうことができます。',
    sub_image_path : ['Gemini_01.png','Gemini_02.png','Gemini_03.png','Gemini_04.png'],
    sub_image_num:4,
    work_PR_text : 'この作品は、今までのゲーム制作の中でも特に情報設計にこだわり、誰でもわかりやすく、ゲームの難易度以外の部分でのストレスが無いゲームを意識して制作しました。<br>左右のブロックをそれぞれ3×3のグリット内で動かすという仕組みを実装するに当たって、スムーズな移動はもちろん、指をキーボードから離すとデフォルトの中央位置に戻るという、直感的な操作を意識した設計をしております。<br>ゲーム内のUIや操作説明もシンプルで分かりやすいものを意識し、ユーザーが迷うことなくゲームを楽しめることを重視した制作をしました。',
    previous_work_path : './eclipse.html',
    next_work_path : './triSketch.html',
    have_previous : true,
    have_next: true
}

%>

<%- include('/partials/header', { title }) -%>

<%- include('/partials/menu') -%>

<%- include('/partials/p5-canvas') -%>
<section id="barba-wrapper" aria-live="polite">
    <div class="barba-container">

        <%- include('/partials/back-button') -%> 

        <%- include('/partials/work-details-common',{data:pageData})  -%>

        <%- include('/partials/scroll-top') -%> 
    </div>
</section>

<%- include('/partials/footer') -%>