<%
var title = 'Portfolio'

var pageData = {
    work_title : '第五人キャプ',
    category : 'game',
    top_image_type : 'img',
    top_image : '/assets/images/Idencap_01.png',
    role : 'system / animation',
    term : '2 month',
    skills : 'Unity / Motion Capture',
    outline : '大学の授業でモーションキャプチャーに触れる機会があり、制作したアニメーションデータを用いて大人気オンラインゲームIdentityV（第五人格）のパロディ作品を作りました。私を含め3人でのチーム制作となっています。',
    sub_image_path : ['Idencap_02.png','Idencap_03.png','Idencap_04.png','Idencap_05.png'],
    sub_image_num:4,
    work_PR_text : 'チームを組んだ2人と相談し、アウトプットの手段としてオリジナルの制作も検討しましたが、自由度の高い実習だったため、息抜きのような気持ちで当時3人がハマっていたゲームのパロディを制作することにしました。<br>全19種類のモーションを撮影し、それぞれ修正しゲーム内のアニメーションとして利用しました。撮影やモーションデータの編集は3人で行い、ゲームとして応用する段階を分業しました。私は主にキャラクター同士の作用やアニメーション遷移を担当し、いかに本家に近い挙動を再現できるかを模索しました。',
    previous_work_path : './brouch.html',
    next_work_path : './d_station.html',
    have_previous : true,
    have_next: true
}

%>

<%- include('/partials/header', { title }) -%>

<%- include('/partials/menu') -%>

<%- include('/partials/p5-canvas') -%>
<section id="barba-wrapper" aria-live="polite">
    <div class="barba-container">

        <%- include('/partials/back-button') -%> 

        <%- include('/partials/work-details-common',{data:pageData})  -%>
        
        <%- include('/partials/scroll-top') -%> 
    </div>
</section>

<%- include('/partials/footer') -%>