<%
var title = 'Portfolio'

var pageData = {
    work_title : '命々',
    category : 'movie',
    top_image_type : 'iframe',
    top_image : '<iframe width="560" height="315" src="https://www.youtube.com/embed/UUCMxV8Ftoo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
    role : 'solo',
    term : '2 month',
    skills : 'Processing / DTM / Adobe Premiere Pro',
    outline : '「生き物っぽさ」がテーマの実習課題で、Processingを用いて映像制作をしました。ただの点や線が姿を変えながら生き物のように振る舞う様子を表現しています。',
    sub_image_path : ['meimei_01.png','meimei_02.png','meimei_03.png','meimei_04.png'],
    sub_image_num:4,
    work_PR_text : 'タイトルは二つの命の誕生から終わりを意味しています。「生き物っぽさ」を自分なりに解釈し、生き物ではないものが生き物のように動き一生を終える様子を表現しました。<br>1年次に触れて楽しみを見出したProcessingを使い、簡単な物理演算やフラクタルを用いてビジュアルを表現しています。初めての映像制作で音楽も自作し、ものづくりの楽しさや人に作品を見てもらうことの喜びなどを改めて実感する経験となりました。',
    previous_work_path : './d_station.html',
    next_work_path : '',
    have_previous : true,
    have_next: false
}

%>

<%- include('/partials/header', { title }) -%>

<%- include('/partials/menu') -%>

<%- include('/partials/p5-canvas') -%>

<section id="barba-wrapper" aria-live="polite">
    <div class="barba-container">

        <%- include('/partials/back-button') -%> 

        <%- include('/partials/work-details-common',{data:pageData})  -%>

        <%- include('/partials/scroll-top') -%> 
    </div>
</section>

<%- include('/partials/footer') -%>