<%
var title = 'Portfolio'
%>

<%- include('/partials/header', { title }) -%>

<%- include('/partials/menu') -%>

<div class="js-traget">
    <section id="barba-wrapper" aria-live="polite">
        <div class="barba-container">

            <%- include('/partials/back-button') -%> 

            <div class="work-details-wrapper">
                <h1>nomnomSketch</h1>
                <h2>installation</h2>
                <div class="work-top-image">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vGRs3fT4Wm8" frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="work-summary">
                    <ul>
                        <li>
                            <h3>Role</h3>
                            <p>visual</p>
                        </li>
                        <li>
                            <h3>Term</h3>
                            <p>1 month</p>
                        </li>
                        <li>
                            <h3>Skills</h3>
                            <p>openframeworks / OSCulator / max</p>
                        </li>
                        <li>
                            <h3>Outline</h3>
                            <div class="work-details-text">
                                <p>
                                    3年次の学園祭で展示した参加型インスタレーションです。学科の友人と2人での共同制作で、僕はビジュアル表現やインタラクション部分を担当しました。<br>
                                    当日は大学内の映像スタジオを貸し切って展示を行い、学内外問わずたくさんの方々に楽しんでいただけました。
                                </p>
                            </div>
                        </li>
                    </ul>
                    
                </div>
                <div class="work-sub-image">
                    <ul>
                        <li>
                            <img src="<%= mix('/assets/imagesnomnomSketch_01.png')%> ">
                        </li>
                        <li>
                            <img src="<%= mix('/assets/imagesnomnomSketch_02.png')%> ">
                        </li>
                        <li>
                            <img src="<%= mix('/assets/imagesnomnomSketch_03.png')%> ">
                        </li>
                        <li>
                            <img src="<%= mix('/assets/imagesnomnomSketch_04.png')%> ">
                        </li>
                    </ul>
                </div>
                <div class="work-PR-text">
                    <p>
                        「味わい尽くす」（意訳）という学園祭のテーマに沿って、ハンバーガーのロゴにケチャップやマスタードをかけるようなイメージのインタラクションを表現しました。willリモコンを内蔵した容器を振ることで加速度を検知し、それをBluetoothを介してPCが受信、PC内のソフトで描画や音を鳴らしています。<br>
                        とにかく面白いと思ってもらえるようなコンテンツを意識し、また、学園祭に来る学内外様々な人に体験してもらえるよう、複数人で同時に参加できるよう実装しました。<br>
                        制作にopenframeworksを用い他のは初めてで、あまり書いたことがなかったC++の仕組みや、今回使用した流体表現のアドオンのカスタム方法など分からない事だらけでしたが、情報収集や試行錯誤を重ね何とか形にすることができました。<br>


                    </p>
                </div>
                <div class="work-end">
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                </div>
                <div class="otherworks">
                    <h2>OTHER WORKS</h2>
                    <div class="nav-to-other">
                        <a id="previous" href="<%= mix('./portfolio_01.html') %> ">PREVIOUS</a>
                        <div id="vertical-line"></div>
                        <a id="next" href="<%= mix('./eclipse.html') %> ">NEXT</a>
                    </div>
                </div>
            </div>
            <%- include('/partials/scroll-top') -%> 
        </div>
    </section>
</div>

<%- include('/partials/footer') -%>