<%
var title = 'Portfolio'

var pageData = {
    work_title : 'Portfolio',
    category : 'website',
    top_image_type : 'img',
    top_image : '/assets/images/portfolio01_01.png',
    role : 'solo',
    term : '1 month',
    skills : 'HTML / SCSS / p5.js / Barba.js / illustrator',
    outline : '就職活動に向けて制作した私のポートフォリオ第一号です。3年次の夏休みに2週間ほどで制作し、その後作品の更新やブラッシュアップなどを行いました。<br>p5.jsを用いてメインビジュアルを作成し、インタラクションにこだわりました。デザインから実装まで、全て自分で行っています。',
    sub_image_path : ['portfolio01_02.png','portfolio01_03.png','portfolio01_04.png','portfolio01_sp.png'],
    sub_image_num:4,
    work_PR_text : '就職活動の際に企業の方にご覧いただくものとして、まずは自分に興味を持ってもらえるような第一印象が大切だと考え、メインビジュアルにこだわりました。僕がこれまでの制作で何度も利用し得意としてきたクリエイティブコーディングを用いて、訪問時のアニメーションと閲覧中のインタラクションを実装し、ただの作品集ではなく、このポートフォリオから自分の強みや好きなことを知ってもらえるようなサイト制作を意識しました。<br>本格的にwebサイトを制作したのは初めてでしたが、レスポンシブデザインにも挑戦し、凝ったビジュアルだけでなく使いやすさや分かりやすさにも配慮し制作しました。',
    previous_work_path : '',
    next_work_path : './nomnomSketch.html',
    have_previous : false,
    have_next: true
}

%>

<%- include('/partials/header', { title }) -%>

<%- include('/partials/menu') -%>

<%- include('/partials/p5-canvas') -%>
<section id="barba-wrapper" aria-live="polite">
    <div class="barba-container">

        <%- include('/partials/back-button') -%> 

        <%- include('/partials/work-details-common',{data:pageData})  -%>

        <%- include('/partials/scroll-top') -%> 
    </div>
</section>

<%- include('/partials/footer') -%>