<%
var title = 'Portfolio'

var pageData = {
    work_title : 'TriSketch',
    category : 'installation',
    top_image_type : 'iframe',
    top_image : '<iframe width="560" height="315" src="https://www.youtube.com/embed/b0WnUiJRsuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
    role : 'solo',
    term : '2 weeks',
    skills : 'Processing',
    outline : '2年次の学園祭で展示した参加型インスタレーションです。私を含め部署内の希望者が各々ビジュアル表現を制作し、インタラクションの部分を部署の先輩にまとめて担当していただく形での制作でした。<br>ステッキ状のガジェットを用いて3種類の描画が楽しめる作品となっています。',
    sub_image_path : ['triSketch_01.png','triSketch_02.png'],
    sub_image_num:2,
    work_PR_text : 'ステッキ状のガジェットがRGBそれぞれの光を発し、スクリーン側に設置されたwebカメラを用いて位置や色を画像処理で認識し、3つそれぞれの描画パターンを制御しています。<br>私はProcessingを用いたビジュアル部分の制作のみの担当でしたが、自分の作ったものを大きなスクリーン上でいろいろな人に楽しんでもらうという初めての経験となりました。この制作がきっかけでさらに多くの人に自分の作品に触れてもらいたい、さらに多くの人を楽しませたいという気持ちが強まりました。',
    previous_work_path : './gemini.html',
    next_work_path : './idencap.html',
    have_previous : true,
    have_next: true
}

%>

<%- include('/partials/header', { title }) -%>

<%- include('/partials/menu') -%>

<%- include('/partials/p5-canvas') -%>
<section id="barba-wrapper" aria-live="polite">
    <div class="barba-container">

        <%- include('/partials/back-button') -%> 

        <%- include('/partials/work-details-common',{data:pageData})  -%>

        <%- include('/partials/scroll-top') -%> 
    </div>
</section>

<%- include('/partials/footer') -%>